<h1>Invoice for <%= @invoice_name %></h1>
<% if !all_items? %>
  <div><%= link_to "All items", billing_path %></div>
<% end %>
<h2>Grand total: <%= total %></h2>
<div id="invoice_table">
  <%= render :partial => 'invoice_table', :locals => {:items => @items} %>
</div>