<h1>Invoice for all items</h1>

<table>
  <thead>
    <tr>
      <th>Line Item</th>
      <th>Campaign</th>
      <th>Booked Amount</th>
      <th>Actual Amount</th>
      <th>Adjustments</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% LineItem.all.each do |item| %>
      <%= line_item_row(item) %>
    <% end %>
  </tbody>
</table>