// Place all the styles related to the billing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Arial, Helvetica, sans-serif;
}

td,
th {
  padding-right: 15px;
}

.amount {
  text-align: right;
}

.total {
  font-weight: bold;
}